<div class="container d-flex justify-content-center align-items-center vh-50">
  <div class="form-container text-center mt-4">
    <div class="logo-container mb-4">
      <img src="{{ slogan }}" alt="Logo" />
    </div>
    <form>
      <div class="form-group mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="form-group mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input
          type="tel"
          class="form-control"
          id="phone"
          placeholder="Enter your phone number"
        />
      </div>
      <div class="form-group mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter your password"
        />
      </div>
      <div class="form-group mb-3">
        <label for="confirm-password" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="confirm-password"
          placeholder="Repeat your password"
        />
      </div>

      <button type="submit" class="register-btn btn btn-block mt-4">
        Register
      </button>

      <p class="text-center mt-4">Aready a member?<a href="#">Sign In</a></p>
    </form>
  </div>
</div>
